@media screen and (max-width: 1280px) {
    .box-card {
        grid-template-columns: 1fr 1fr;
    }
    .header-main-footer{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .agrupe-links{
        display: flex;
        flex-wrap: wrap;
    }
}