

body {
    background-color: var(--dark);
    font-family: var(--font-dm-sans);
}

.pg {
    padding: 7px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
}

.sidebar-navigation{
    background-color: var(--light-dark);
    border-radius: 8px;
}

.sidebar-navigation .logo{
    background-color: var(--light-dark);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar-navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 15px;
    padding: 0 20px 0px 20px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.sidebar nav ul li a span{
    color: var(--light-gray);
    transition: 0.3s all;
}
.sidebar nav ul li a:hover span{
    color: var(--white);
    transition: 0.3s all;
}

.sidebar nav ul li a span:first-child {
    padding: 0 7px 0 0;

}


.header-biblioteca {
    background-color: var(--light-dark);
    border-radius: 8px;
    
}

.header-biblioteca ul li {
    display: flex;
    justify-content: space-between;
}

.agrupe-box{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.header-biblioteca .nav-padrao {
    
    background-color: var(--gray);
    border-radius: 8px;
    padding: 19px 0 25px 16px;
}

.nav-padrao p , .nav-padrao span {
    color: var(--white);
    font-weight: 600;
    padding: 0 0 10px 0;
}

.nav-padrao span{
    font-weight: 100;
    font-size: 13px;
}

.nav-padrao a{
    margin-top: 17px;
}

.btn {
    text-decoration: none;
    border-radius: 16px;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;   
    transition: 0.05s all; 
    transform: scale(1);
}
.btn:hover {
    transition: 0.05s all;
    transform: scale(1.05);
    
}

.btn-primary {
    color: var(--dark);
    background-color: var(--white);
    border: none;
}

.links-uteis {
    margin: 40px 0 20px 0 !important;

}

.links-uteis ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.links-uteis ul li{
    padding: 5px 0 !important;
    
}

.links-uteis ul li a{
    color: var(--light-gray);
    font-size: 10.5px !important;   
}
.links-uteis ul li a:hover{
    text-decoration: underline;
}

.btn-secondary{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--gray);
    margin-left: 18px;
}
.btn-secondary:hover {
    border: 1px solid var(--white);
}