:root{
    /* FONTS */

    --font-dm-sans: 'DM Sans' , sans-serif;

    /* COLORS */

    --dark : #000000;
    --light-dark : #121212;
    --gray : #303030;
    --white : #ffffff;
    --light-gray : #9f9f9f;

    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);

}